<div class="container">
    <h1 class="display-4 text-center mt-5">Sobre o site </h1>
    <p class="m-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Eos est eligendi adipisci necessitatibus similique vel consequatur 
         maxime autem veritatis totam. Ducimus repellendus voluptate obcaecati
          architecto necessitatibus, numquam sint odit similique! Lorem ipsum dolor 
          sit amet, consectetur adipisicing elit.
          Eos est eligendi adipisci necessitatibus similique vel consequatur 
          maxime autem veritatis totam. Ducimus repellendus voluptate obcaecati
           architecto necessitatibus, numquam sint odit similique!</p>

        <h6 class="text-center">Aluno: Vinícius Lojhan Martinez Hernandes</h6>
        <h6 class="text-center">Matrícula: 1932401</h6>
</div>