<div class="container mt-5">
    <h1 class="display-4 mb-5">Meus Posts</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Criado em</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>19/12/2000 às 13:30</td>
            <td>
                <button class="btn btn-outline-primary mr-2">Editar</button>
                <button class="btn btn-outline-danger">Remover</button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>19/12/2000 às 13:30</td>
            <td>
                <button class="btn btn-outline-primary mr-2">Editar</button>
                <button class="btn btn-outline-danger">Remover</button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>19/12/2000 às 13:30</td>
            <td>
                <button class="btn btn-outline-primary mr-2">Editar</button>
                <button class="btn btn-outline-danger">Remover</button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>19/12/2000 às 13:30</td>
            <td>
                <button class="btn btn-outline-primary mr-2">Editar</button>
                <button class="btn btn-outline-danger">Remover</button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>19/12/2000 às 13:30</td>
            <td>
                <button class="btn btn-outline-primary mr-2">Editar</button>
                <button class="btn btn-outline-danger">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>