<div class="container mt-5">
  <swal
  #error
  title="Oops! Algo deu errado"
  icon="error"
  [focusCancel]="true">
</swal>
    <h1 class="display-4 mb-5">Meus posts</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Criado em</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody *ngIf="posts.length > 0">
          <tr *ngFor="let post of posts">
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td>
                <button (click)="editPost(post.id)" class="btn btn-outline-primary mr-2">Editar</button>
                <button   
                [swal]="
                { 
                  title: 'Deseja realmente excluir a postagem?', 
                  showCancelButton: true, 
                  cancelButtonText: 'Cancelar', 
                  icon: 'question' 
                }"
                (confirm)="deletePost(post.id)" 
                class="btn btn-outline-danger"
                >
                Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>