<div class="container mt-5">
    <div class="mx-3">
        <h1 class="display-4">{{ post.title }}</h1> 
        <p class="text-secondary mt-3">{{ post.subtitle }}</p>

        <div class="d-flex my-5">
            <div class="profile-picture" style="background-image: url(http://192.168.15.3:4000/api/images/profiles/{{post.user?.id}}.jpeg);"></div>
            <div>
                <p>{{ post.createdAt | date: 'dd/MM/yyyy' }}</p>
                <p>Por <span class="text-primary font-weight-bold">{{ post.user?.username }}</span> </p>
            </div>
        </div>

        <img src="http://192.168.15.3:4000/api/images/posts/{{post?.id}}.jpeg" class="img-fluid mx-auto d-block" alt="Responsive image">
        <p class="p-5 paragraph">{{ post.text }}</p>
    </div>
</div>