<div class="container mt-5">
    <div class="mx-3">
        <h1 class="display-4">Título do post</h1> 
        <p class="text-secondary mt-3">Esse é o subtítulo do post</p>

        <div class="d-flex my-5">
            <div class="profile-picture"></div>
            <div>
                <p>19/12/2000</p>
                <p>Por <span class="text-primary font-weight-bold">Vinícius Lojhan</span> </p>
            </div>
        </div>

        <img src="https://picsum.photos/id/{{id}}/1200/500" class="img-fluid mx-auto d-block" alt="Responsive image">
        <p class="p-5 paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida nibh non lorem imperdiet, quis ultricies leo semper. Nunc gravida a dolor et dapibus. Nam venenatis urna mauris, et egestas erat pellentesque quis. Vivamus lectus urna, condimentum sed magna finibus, sodales mattis eros. Quisque euismod enim eros, eu gravida ipsum volutpat id. Mauris consequat placerat sem ac fringilla. Proin pulvinar porttitor nisi, sed iaculis nisl mollis in. Nullam vitae ipsum sem. Suspendisse in sem urna. Quisque porta rhoncus rhoncus. Quisque in tempor eros, ac pharetra sapien.

            Ut vehicula hendrerit augue a maximus. Ut vitae ullamcorper nulla, ut laoreet arcu. Maecenas aliquam arcu vitae leo venenatis scelerisque. Nam a urna pretium, dapibus dui ut, semper lectus. Fusce sit amet auctor lacus. Aliquam tempor nunc et nisl rutrum tempus. Sed scelerisque libero nec metus venenatis, eu pulvinar elit tincidunt. Proin quis tristique ex. Praesent ut elit tincidunt, porttitor ex et, dapibus ipsum. Praesent aliquam justo varius posuere scelerisque. Nullam id tellus eget diam blandit lobortis luctus eget erat. Vivamus sit amet tortor vehicula neque auctor rhoncus sed vel ante.
            
            In posuere ligula ut risus lobortis commodo. Etiam ac elit lacinia, facilisis odio et, pulvinar erat. Morbi nec bibendum massa. Aliquam sed erat id tortor maximus euismod sit amet ac elit. Quisque laoreet egestas ante, id ornare enim aliquam in. Praesent feugiat in felis et elementum. Nunc faucibus imperdiet odio feugiat ornare. Curabitur sem erat, rutrum auctor ante sed, luctus lobortis libero. Aliquam quis leo dui. Fusce vitae hendrerit massa. Nam sagittis libero nec tortor commodo porttitor. Morbi mattis metus vitae accumsan varius. Vestibulum enim nunc, elementum et fermentum nec, mattis quis massa. Aliquam arcu felis, lacinia quis purus vel, condimentum dapibus quam. Fusce libero purus, commodo in dapibus ut, rutrum sit amet lorem.
            
            Donec vel ipsum purus. In diam magna, tempor sed bibendum vitae, sodales ac est. Curabitur posuere pretium tellus a sodales. Etiam lacinia ex sed finibus cursus. Donec ut mi eget ante fringilla luctus. Fusce congue ipsum vitae pharetra accumsan. Nunc eleifend suscipit ipsum, vel iaculis nunc rhoncus eget. Sed sodales massa vitae tortor condimentum condimentum. Cras efficitur, sem in lobortis viverra, metus lorem maximus lorem, vel scelerisque enim est vitae arcu. Curabitur sed rutrum tellus, id commodo diam. Fusce nec eros libero. Vestibulum lacinia pretium est quis dictum.
            
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque facilisis lorem sem, et ultrices dui sodales vel. Aliquam non libero in lectus ullamcorper vehicula. Morbi auctor nisi dolor, eu rhoncus sem vulputate eget. Donec et vehicula elit. Fusce id posuere metus, in faucibus purus. Morbi condimentum, massa a consectetur rhoncus, nibh ligula mollis purus, vel ullamcorper erat mi non nisl.</p>
    </div>
</div>